.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	/*display: none !important;*/
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}


/*
======================================
Temp CSS
======================================
*/

*{
	font-family: 'Open Sans Light',X-LocaleSpecific-Light,'Open Sans',X-LocaleSpecific,sans-serif;
}

body{
	background-color: #F8F8F8;
	margin: 0px;
}

.logo-container{
	margin: auto;
	position: absolute;
	top: 0px; left: 0px; right: 0px; bottom: 0px;
	width : 400px;
	height: 400px;
}

.logo{
	position: relative;
	display: block;
	margin: auto;
	width: 400px;
}

.coming-soon{
	margin: auto;
	margin-top: 50px;
	display: block;
	padding: 15px;
	color: #FFFFFF;
	background: #00a651;
	border: none;
	border-radius: 4px;
	font-size: 1.3em;
}